<html>
<head>
<link href="/static/back.css" rel="stylesheet" type="text/css" />

<link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/4.6.0/css/bootstrap.min.css">
<script src="https://cdn.staticfile.org/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdn.staticfile.org/popper.js/1.15.0/umd/popper.min.js"></script>
<script src="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
<title>人物名录-反内卷协会</title>
<link rel="icon" href="/static/page2.ico">
</head>
<body>
<!--设置导航-->
<ul class="nav bg-warning">
<a class="nav-link text-dark" href="../mainpage/">主页</a>

<a class="nav-link text-dark" href="../introduction/">介绍</a>

<a class="nav-link text-dark" href="../member/">成员</a>
<div class="dropdown">

<a class="btn btn-warning dropdown-toggle" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">

前往其他主页
</a>
<div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
<a href="/main/mainpage/">总会(反内卷)</a>
<br/>
<a href="/branch1/mainpage/">第一分会(反凡尔赛)</a>
<br/>
<a href="javascript:void(0)" onclick="alert('一切的页面来源于“错误”')">彩蛋页面</a>
</div>

</div>
当前版本为:{{oldv}}
最新版本为:{{newv}}
{%if newv=="NONE"%}
无法连接至Github,请稍后重启服务器
{%elif new==1%}
当前已是最新版本
{%else%}
<a href="https://raw.githubusercontent.com/Wangxy666/wd-no-neijuan-for-Windows/main/w-d%E5%8F%8D%E5%86%85%E5%8D%B7%E5%8D%8F%E4%BC%9A.rar">点此下载最新版本</a>
{%endif%}
</ul>

<h1><center>人物名录</center></h1>
<h3>创始人兼总会长</h3>
2-2<br/>
2-39<br/>
<h3>成员</h3>
2-3<br/>
2-37<br/>
2-11<br/>
2-35
</body>
</html>
